USE [DW_Ventas]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 28/07/2026 17:19:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[IdVenta] [int] NULL,
	[Cliente] [varchar](100) NULL,
	[Departamento] [varchar](50) NULL,
	[Producto] [varchar](100) NULL,
	[Cantidad] [int] NULL,
	[Precio] [decimal](10, 2) NULL,
	[FechaVenta] [varchar](50) NULL,
	[VentaTotal] [decimal](18, 2) NULL,
	[NombreCompletoProducto] [varchar](155) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ventas_centro]    Script Date: 28/07/2026 17:19:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ventas_centro](
	[IdVenta] [varchar](20) NULL,
	[Cliente] [varchar](100) NULL,
	[Departamento] [varchar](150) NULL,
	[Producto] [varchar](50) NULL,
	[Cantidad] [int] NULL,
	[Precio] [float] NULL,
	[FechaVenta] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ventas_occidente]    Script Date: 28/07/2026 17:19:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ventas_occidente](
	[IdVenta] [varchar](20) NULL,
	[Cliente] [varchar](100) NULL,
	[Departamento] [varchar](150) NULL,
	[Producto] [varchar](50) NULL,
	[Cantidad] [int] NULL,
	[Precio] [float] NULL,
	[FechaVenta] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ventas_oriente]    Script Date: 28/07/2026 17:19:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ventas_oriente](
	[IdVenta] [varchar](20) NULL,
	[Cliente] [varchar](100) NULL,
	[Departamento] [varchar](150) NULL,
	[Producto] [varchar](50) NULL,
	[Cantidad] [int] NULL,
	[Precio] [float] NULL,
	[FechaVenta] [date] NULL
) ON [PRIMARY]
GO
